# ğŸ“Š Modul Pembelajaran: Metode Konversi Data dalam Data Science

## ğŸ¯ **Tujuan Pembelajaran**
Memahami dan mengimplementasikan tiga metode utama konversi data yang sering digunakan dalam preprocessing data untuk machine learning dan data analysis.

## ğŸ“š **Materi Konversi Data**

### ğŸ—‚ï¸ **1. Binning/Diskretisasi**
**Definisi**: Proses mengubah data kontinyu menjadi data kategorial dengan membagi nilai ke dalam interval-interval tertentu.

**Kapan Digunakan:**
- Data kontinyu yang memiliki rentang nilai yang luas
- Ingin mengurangi kompleksitas model
- Mengatasi outlier atau noise dalam data
- Membuat data lebih interpretable

**Contoh**: Usia (17-90 tahun) â†’ Kelompok usia (Muda, Dewasa, Senior)

### ğŸ·ï¸ **2. Label Encoding** 
**Definisi**: Mengubah data kategori ordinal menjadi nilai numerik berurutan yang mempertahankan hierarki/urutan.

**Kapan Digunakan:**
- Data kategori yang memiliki urutan logis (ordinal)
- Model machine learning membutuhkan input numerik
- Ingin mempertahankan informasi urutan

**Contoh**: Pendidikan (SD â†’ SMP â†’ SMA â†’ S1 â†’ S2 â†’ S3) menjadi (0, 1, 2, 3, 4, 5)

### ğŸ”¥ **3. One-Hot Encoding**
**Definisi**: Mengubah data kategori nominal menjadi beberapa kolom binary (0 dan 1), dimana setiap kategori direpresentasikan oleh satu kolom.

**Kapan Digunakan:**
- Data kategori tanpa urutan logis (nominal)
- Mencegah model mengasumsikan urutan yang tidak ada
- Algoritma yang sensitif terhadap magnitude nilai

**Contoh**: Jenis Kelamin (Male, Female) â†’ sex_Male (0/1), sex_Female (0/1)

## âš–ï¸ **Perbandingan Metode**

| Metode | Jenis Data | Input | Output | Kegunaan Utama |
|--------|------------|--------|--------|----------------|
| **Binning** | Kontinyu | Numerik | Kategorial | Simplifikasi, reduce noise |
| **Label Encoding** | Ordinal | Kategori berurutan | Numerik berurutan | Pertahankan hierarki |
| **One-Hot Encoding** | Nominal | Kategori setara | Multiple binary columns | Hindari asumsi urutan |

## ğŸ“ **Kasus Studi**
Dalam notebook ini, kita akan menggunakan **Adult Census Income Dataset** untuk mempraktikkan ketiga metode konversi data:
- **Age** (kontinyu) â†’ Binning menjadi kelompok usia
- **Education** (ordinal) â†’ Label encoding berdasarkan tingkat pendidikan  
- **Sex** (nominal) â†’ One-hot encoding untuk jenis kelamin

---


## ğŸ”§ 1. Import Libraries dan Install Dependencies

In [1]:
# Install libraries jika belum ada
import subprocess
import sys

def install_package(package):
    try:
        __import__(package)
        print(f"âœ… {package} sudah terinstall")
    except ImportError:
        print(f"ğŸ“¦ Installing {package}...")
        subprocess.check_call([sys.executable, "-m", "pip", "install", package])

# Install required packages
packages = ['pandas', 'numpy', 'scikit-learn']
for package in packages:
    install_package(package)

# Import libraries
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.datasets import fetch_openml
import warnings
warnings.filterwarnings('ignore')

print("\nğŸ‰ Semua libraries berhasil diimport!")

âœ… pandas sudah terinstall
âœ… numpy sudah terinstall
ğŸ“¦ Installing scikit-learn...

ğŸ‰ Semua libraries berhasil diimport!

ğŸ‰ Semua libraries berhasil diimport!

## ğŸ“Š 2. Load Dataset dan Eksplorasi Data

Kita akan menggunakan **Adult Census Income Dataset** yang memiliki berbagai jenis data:
- **Data Kontinyu**: age, hours-per-week
- **Data Ordinal**: education (tingkatan pendidikan)
- **Data Nominal**: sex, race, marital-status

In [2]:
# Load Adult Census Income Dataset
try:
    adult_data = fetch_openml('adult', version=2, as_frame=True, parser='auto')
    df = adult_data.data.copy()
    print("âœ… Dataset berhasil dimuat dari OpenML")
except:
    # Fallback: buat dataset sintetis
    print("ğŸ“ Membuat dataset sintetis...")
    np.random.seed(42)
    n_samples = 1000
    
    df = pd.DataFrame({
        'age': np.random.randint(17, 80, n_samples),
        'sex': np.random.choice(['Male', 'Female'], n_samples),
        'education': np.random.choice(['HS-grad', 'Some-college', 'Bachelors', 'Masters', 'Doctorate'], n_samples),
        'hours-per-week': np.random.randint(1, 80, n_samples),
        'race': np.random.choice(['White', 'Black', 'Asian-Pac-Islander'], n_samples),
        'marital-status': np.random.choice(['Married-civ-spouse', 'Never-married', 'Divorced'], n_samples)
    })

print(f"\nğŸ“ Dataset shape: {df.shape}")
print(f"ğŸ“‹ Kolom tersedia: {list(df.columns)}")

# Tampilkan sample data
print("\nğŸ“„ Sample Data (5 baris pertama):")
print(df.head())

# Info dataset
print("\nğŸ“Š Info Dataset:")
print(df.info())

âœ… Dataset berhasil dimuat dari OpenML

ğŸ“ Dataset shape: (48842, 14)
ğŸ“‹ Kolom tersedia: ['age', 'workclass', 'fnlwgt', 'education', 'education-num', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'capital-gain', 'capital-loss', 'hours-per-week', 'native-country']

ğŸ“„ Sample Data (5 baris pertama):
   age  workclass  fnlwgt     education  education-num      marital-status  \
0   25    Private  226802          11th              7       Never-married
1   38    Private   89814       HS-grad              9  Married-civ-spouse
2   28  Local-gov  336951    Assoc-acdm             12  Married-civ-spouse
3   44    Private  160323  Some-college             10  Married-civ-spouse
4   18        NaN  103497  Some-college             10       Never-married

          occupation relationship   race     sex  capital-gain  capital-loss  \
0  Machine-op-inspct    Own-child  Black    Male             0             0
1    Farming-fishing      Husband  White    Male             0             0
2    Protective-serv      Husband  White    Male             0             0
3  Machine-op-inspct      Husband  Black    Male          7688             0
4                NaN    Own-child  White  Female             0             0

   hours-per-week native-country
0              40  United-States
1              50  United-States
2              40  United-States
3              40  United-States
4              30  United-States

ğŸ“Š Info Dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             48842 non-null  int64
 1   workclass       46043 non-null  category
 2   fnlwgt          48842 non-null  int64
 3   education       48842 non-null  category
 4   education-num   48842 non-null  int64
 5   marital-status  48842 non-null  category
 6   occupation      46033 non-null  category
 7   relationship    48842 non-null  category
 8   race            48842 non-null  category
 9   sex             48842 non-null  category
 10  capital-gain    48842 non-null  int64
 11  capital-loss    48842 non-null  int64
 12  hours-per-week  48842 non-null  int64
 13  native-country  47985 non-null  category
dtypes: category(8), int64(6)
memory usage: 2.6 MB
None

## ğŸ¯ 3. Pemilihan Kolom untuk Konversi

Berdasarkan jenis data, kita akan memilih 3 kolom:
1. **Data Kontinyu**: `age` - untuk Binning/Diskretisasi
2. **Data Ordinal**: `education` - untuk Label Encoding
3. **Data Nominal**: `sex` - untuk One-Hot Encoding

Mari kita pastikan tidak ada missing data pada kolom-kolom ini.

In [3]:
# Pilih kolom untuk konversi
selected_columns = {
    'kontinyu': 'age',      # Untuk Binning
    'ordinal': 'education', # Untuk Label Encoding  
    'nominal': 'sex'        # Untuk One-Hot Encoding
}

print("ğŸ” Analisis Kolom Terpilih:")
print("=" * 40)

for jenis, kolom in selected_columns.items():
    print(f"\n{jenis.upper()} - {kolom}:")
    print(f"  Missing values: {df[kolom].isnull().sum()}")
    print(f"  Unique values: {df[kolom].nunique()}")
    print(f"  Sample values: {list(df[kolom].unique()[:5])}")

# Buat dataframe kerja dengan kolom terpilih
df_work = df[list(selected_columns.values())].copy()

# Pastikan tidak ada missing data
print(f"\nâœ… Dataset kerja shape: {df_work.shape}")
print(f"ğŸ“Š Missing data check:")
print(df_work.isnull().sum())

if df_work.isnull().sum().sum() > 0:
    print("âš ï¸ Ada missing data, akan dihapus...")
    df_work = df_work.dropna()
    print(f"ğŸ“ Shape setelah hapus missing: {df_work.shape}")

print(f"\nğŸ“‹ Dataset Kerja:")
print(df_work.head())

ğŸ” Analisis Kolom Terpilih:
========================================

KONTINYU - age:
  Missing values: 0
  Unique values: 74
  Sample values: [np.int64(25), np.int64(38), np.int64(28), np.int64(44), np.int64(18)]

ORDINAL - education:
  Missing values: 0
  Unique values: 16
  Sample values: ['11th', 'HS-grad', 'Assoc-acdm', 'Some-college', '10th']

NOMINAL - sex:
  Missing values: 0
  Unique values: 2
  Sample values: ['Male', 'Female']

âœ… Dataset kerja shape: (48842, 3)
ğŸ“Š Missing data check:
age          0
education    0
sex          0
dtype: int64

ğŸ“‹ Dataset Kerja:
   age     education     sex
0   25          11th    Male
1   38       HS-grad    Male
2   28    Assoc-acdm    Male
3   44  Some-college    Male
4   18  Some-college  Female

## ğŸ—‚ï¸ 4. Implementasi Binning/Diskretisasi

**Binning** adalah proses mengubah data kontinyu menjadi data kategorial dengan membagi nilai ke dalam interval tertentu.

**Kegunaan:**
- Mengurangi noise dalam data
- Membuat data lebih interpretable
- Mengatasi outlier

Kita akan menerapkan binning pada kolom `age` untuk membuat kelompok usia.

In [4]:
# Implementasi Binning pada kolom 'age'
print("ğŸ—‚ï¸ BINNING/DISKRETISASI - Kolom 'age'")
print("=" * 40)

# Tampilkan statistik age sebelum binning
print(f"ğŸ“Š Statistik Age:")
print(f"  Min: {df_work['age'].min()}")
print(f"  Max: {df_work['age'].max()}")
print(f"  Mean: {df_work['age'].mean():.1f}")

# Buat bins berdasarkan tahap kehidupan
age_bins = [0, 25, 35, 50, 65, 100]
age_labels = ['Muda (17-25)', 'Dewasa Muda (26-35)', 'Dewasa (36-50)', 'Paruh Baya (51-65)', 'Senior (65+)']

# Implementasi binning
df_work['age_binned'] = pd.cut(df_work['age'], 
                              bins=age_bins, 
                              labels=age_labels, 
                              include_lowest=True)

print(f"\nâœ… Binning selesai!")
print(f"ğŸ“‹ Distribusi Age setelah Binning:")
print(df_work['age_binned'].value_counts().sort_index())

# Tampilkan contoh transformasi
print(f"\nğŸ“„ Contoh Transformasi:")
sample_data = df_work[['age', 'age_binned']].head(10)
print(sample_data)

ğŸ—‚ï¸ BINNING/DISKRETISASI - Kolom 'age'
========================================
ğŸ“Š Statistik Age:
  Min: 17
  Max: 90
  Mean: 38.6

âœ… Binning selesai!
ğŸ“‹ Distribusi Age setelah Binning:
age_binned
Muda (17-25)            9627
Dewasa Muda (26-35)    12719
Dewasa (36-50)         16688
Paruh Baya (51-65)      8005
Senior (65+)            1803
Name: count, dtype: int64

ğŸ“„ Contoh Transformasi:
   age           age_binned
0   25         Muda (17-25)
1   38       Dewasa (36-50)
2   28  Dewasa Muda (26-35)
3   44       Dewasa (36-50)
4   18         Muda (17-25)
5   34  Dewasa Muda (26-35)
6   29  Dewasa Muda (26-35)
7   63   Paruh Baya (51-65)
8   24         Muda (17-25)
9   55   Paruh Baya (51-65)

## ğŸ·ï¸ 5. Implementasi Label Encoding

**Label Encoding** mengubah data kategori ordinal menjadi angka berurutan yang mempertahankan urutan/hierarki.

**Karakteristik Data Ordinal:**
- Ada urutan yang bermakna
- Contoh: tingkat pendidikan (SD < SMP < SMA < S1 < S2 < S3)

**Penting:** Harus mendefinisikan urutan yang benar, jangan gunakan encoding otomatis yang mengurutkan secara alfabetis!

In [5]:
# Implementasi Label Encoding pada kolom 'education'
print("ğŸ·ï¸ LABEL ENCODING - Kolom 'education'")
print("=" * 40)

# Tampilkan kategori education yang ada
print(f"ğŸ“‹ Kategori Education yang ada:")
education_counts = df_work['education'].value_counts()
print(education_counts)

# Definisikan urutan education yang benar (dari rendah ke tinggi)
education_order = [
    'Preschool', '1st-4th', '5th-6th', '7th-8th', '9th', '10th', '11th', '12th',
    'HS-grad', 'Some-college', 'Assoc-voc', 'Assoc-acdm', 
    'Bachelors', 'Masters', 'Prof-school', 'Doctorate'
]

# Filter hanya education yang ada di data
available_education = [edu for edu in education_order if edu in df_work['education'].values]
print(f"\nğŸ“š Urutan Education yang tersedia:")
for i, edu in enumerate(available_education):
    print(f"  {i}: {edu}")

# Manual mapping dengan urutan yang benar
education_mapping = {edu: idx for idx, edu in enumerate(available_education)}

# Implementasi Label Encoding
df_work['education_encoded'] = df_work['education'].map(education_mapping)

print(f"\nâœ… Label Encoding selesai!")
print(f"ğŸ“‹ Mapping Education:")
for edu, code in education_mapping.items():
    count = (df_work['education'] == edu).sum()
    print(f"  {code}: {edu} ({count} data)")

# Tampilkan contoh transformasi
print(f"\nğŸ“„ Contoh Transformasi:")
sample_data = df_work[['education', 'education_encoded']].head(10)
print(sample_data)

ğŸ·ï¸ LABEL ENCODING - Kolom 'education'
========================================
ğŸ“‹ Kategori Education yang ada:
education
HS-grad         15784
Some-college    10878
Bachelors        8025
Masters          2657
Assoc-voc        2061
11th             1812
Assoc-acdm       1601
10th             1389
7th-8th           955
Prof-school       834
9th               756
12th              657
Doctorate         594
5th-6th           509
1st-4th           247
Preschool          83
Name: count, dtype: int64

ğŸ“š Urutan Education yang tersedia:
  0: Preschool
  1: 1st-4th
  2: 5th-6th
  3: 7th-8th
  4: 9th
  5: 10th
  6: 11th
  7: 12th
  8: HS-grad
  9: Some-college
  10: Assoc-voc
  11: Assoc-acdm
  12: Bachelors
  13: Masters
  14: Prof-school
  15: Doctorate

âœ… Label Encoding selesai!
ğŸ“‹ Mapping Education:
  0: Preschool (83 data)
  1: 1st-4th (247 data)
  2: 5th-6th (509 data)
  3: 7th-8th (955 data)
  4: 9th (756 data)
  5: 10th (1389 data)
  6: 11th (1812 data)
  7: 12th (657 data)
  8: HS-grad (15784 data)
  9: Some-college (10878 data)
  10: Assoc-voc (2061 data)
  11: Assoc-acdm (1601 data)
  12: Bachelors (8025 data)
  13: Masters (2657 data)
  14: Prof-school (834 data)
  15: Doctorate (594 data)

ğŸ“„ Contoh Transformasi:
      education education_encoded
0          11th                 6
1       HS-grad                 8
2    Assoc-acdm                11
3  Some-college                 9
4  Some-college                 9
5          10th                 5
6       HS-grad                 8
7   Prof-school                14
8  Some-college                 9
9       7th-8th                 3

## ğŸ”¥ 6. Implementasi One-Hot Encoding

**One-Hot Encoding** mengubah data kategori nominal menjadi beberapa kolom binary (0 dan 1).

**Karakteristik Data Nominal:**
- Tidak ada urutan yang bermakna
- Setiap kategori setara
- Contoh: jenis kelamin, warna, negara

**Keuntungan:** Tidak ada asumsi urutan, setiap kategori diperlakukan adil  
**Kerugian:** Meningkatkan dimensi data (1 kolom â†’ n kolom)

In [6]:
# Implementasi One-Hot Encoding pada kolom 'sex'
print("ğŸ”¥ ONE-HOT ENCODING - Kolom 'sex'")
print("=" * 40)

# Tampilkan kategori sex yang ada
print(f"ğŸ“‹ Kategori Sex yang ada:")
sex_counts = df_work['sex'].value_counts()
print(sex_counts)

# Implementasi One-Hot Encoding menggunakan pandas
sex_onehot = pd.get_dummies(df_work['sex'], prefix='sex')

print(f"\nâœ… One-Hot Encoding selesai!")
print(f"ğŸ“Š Hasil transformasi:")
print(f"  Kolom asli: 1 kolom ('sex')")
print(f"  Kolom baru: {sex_onehot.shape[1]} kolom")
print(f"  Kolom yang dibuat: {list(sex_onehot.columns)}")

# Gabungkan dengan dataframe kerja
df_work = pd.concat([df_work, sex_onehot], axis=1)

print(f"\nğŸ“„ Contoh Transformasi:")
sample_data = df_work[['sex'] + list(sex_onehot.columns)].head(10)
print(sample_data)

# Verifikasi: setiap baris harus memiliki tepat satu nilai 1
print(f"\nğŸ” Verifikasi One-Hot Encoding:")
print(f"Setiap baris harus sum = 1:")
row_sums = sex_onehot.sum(axis=1)
print(f"Min sum: {row_sums.min()}, Max sum: {row_sums.max()}")
print("âœ… Verifikasi berhasil!" if row_sums.min() == row_sums.max() == 1 else "âŒ Ada masalah!")

ğŸ”¥ ONE-HOT ENCODING - Kolom 'sex'
========================================
ğŸ“‹ Kategori Sex yang ada:
sex
Male      32650
Female    16192
Name: count, dtype: int64

âœ… One-Hot Encoding selesai!
ğŸ“Š Hasil transformasi:
  Kolom asli: 1 kolom ('sex')
  Kolom baru: 2 kolom
  Kolom yang dibuat: ['sex_Female', 'sex_Male']

ğŸ“„ Contoh Transformasi:
      sex  sex_Female  sex_Male
0    Male       False      True
1    Male       False      True
2    Male       False      True
3    Male       False      True
4  Female        True     False
5    Male       False      True
6    Male       False      True
7    Male       False      True
8  Female        True     False
9    Male       False      True

ğŸ” Verifikasi One-Hot Encoding:
Setiap baris harus sum = 1:
Min sum: 1, Max sum: 1
âœ… Verifikasi berhasil!

## ğŸ“Š 7. Evaluasi dan Gabungan Hasil

Mari kita evaluasi hasil konversi data dan buat dataframe final yang menunjukkan perbandingan sebelum dan sesudah konversi.

**Ringkasan Metode:**
- **Binning**: age (kontinyu) â†’ age_binned (kategorial)
- **Label Encoding**: education (ordinal) â†’ education_encoded (numerik)
- **One-Hot Encoding**: sex (nominal) â†’ sex_Female, sex_Male (binary)

In [7]:
# Evaluasi dan Gabungan Hasil Konversi Data
print("EVALUASI HASIL KONVERSI DATA")
print("=" * 50)

# Buat dataframe final dengan kolom sebelum dan sesudah konversi berurutan
df_final = pd.DataFrame()

# 1. Age: Sebelum (kontinyu) dan Sesudah (binned)
df_final['age_original'] = df_work['age']
df_final['age_binned'] = df_work['age_binned'].astype(str)  # Convert to string for consistency

# 2. Education: Sebelum (kategori) dan Sesudah (encoded)
df_final['education_original'] = df_work['education'] 
df_final['education_encoded'] = df_work['education_encoded'].astype(int)  # Ensure it's integer

# 3. Sex: Sebelum (nominal) dan Sesudah (one-hot)
df_final['sex_original'] = df_work['sex']
onehot_cols = [col for col in df_work.columns if col.startswith('sex_')]
for col in onehot_cols:
    df_final[col] = df_work[col].astype(int)  # Convert boolean to int

print("Dataset final berhasil dibuat!")
print(f"Shape dataset final: {df_final.shape}")
print(f"Kolom: {list(df_final.columns)}")

# Verifikasi urutan education
print(f"\nVERIFIKASI URUTAN EDUCATION:")
print("-" * 40)
print("Urutan yang didefinisikan:")
for i, edu in enumerate(available_education):
    count = (df_final['education_original'] == edu).sum()
    if count > 0:
        print(f"  {i}: {edu} ({count} data)")

# Cek apakah urutan sudah benar
education_unique = df_final['education_original'].unique()
print(f"\nEducation yang ada di data: {len(education_unique)} kategori")
print("Urutan berdasarkan tingkat pendidikan (rendah ke tinggi):")
print("Urutan sudah benar dari Preschool sampai Doctorate")

# Tampilkan ringkasan konversi
print(f"\nRINGKASAN KONVERSI:")
print("-" * 30)
print(f"1. BINNING:")
print(f"   age_original (kontinyu) -> age_binned (kategorial)")
print(f"   Range: {df_final['age_original'].min()}-{df_final['age_original'].max()} -> {df_final['age_binned'].nunique()} kategori")

print(f"\n2. LABEL ENCODING:")
print(f"   education_original (ordinal) -> education_encoded (numerik)")
print(f"   Kategori: {df_final['education_original'].nunique()} -> Range 0-{df_final['education_encoded'].max()}")

print(f"\n3. ONE-HOT ENCODING:")
print(f"   sex_original (nominal) -> {len(onehot_cols)} kolom binary")
print(f"   Kategori: {df_final['sex_original'].nunique()} -> {len(onehot_cols)} kolom (0/1)")

# Tampilkan dataframe dalam format tabel yang rapi
print(f"\nTABEL HASIL KONVERSI DATA (100 baris pertama)")
print("=" * 100)

# Set pandas display options untuk tabel yang lebih rapi
pd.set_option('display.max_rows', 100)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', 1000)
pd.set_option('display.max_colwidth', 25)
pd.set_option('display.precision', 0)

# Tampilkan tabel dengan format yang rapi
print("PERBANDINGAN SEBELUM DAN SESUDAH KONVERSI:")
print("-" * 100)

# Tampilkan 100 baris dalam format tabel
display_df = df_final.head(100).copy()

# Format display untuk lebih rapi
print(display_df.to_string(index=True, 
                          col_space=15,
                          justify='left'))

# Reset display options
pd.reset_option('display.max_rows')
pd.reset_option('display.max_columns') 
pd.reset_option('display.width')
pd.reset_option('display.max_colwidth')
pd.reset_option('display.precision')

print(f"\nKETERANGAN KOLOM:")
print("-" * 50)
print("- age_original: Usia asli (17-90 tahun)")
print("- age_binned: Kelompok usia hasil binning")  
print("- education_original: Tingkat pendidikan asli")
print("- education_encoded: Kode numerik pendidikan (0-15)")
print("- sex_original: Jenis kelamin asli (Male/Female)")
print("- sex_Female: 1 jika Female, 0 jika Male")
print("- sex_Male: 1 jika Male, 0 jika Female")

# Tampilkan sampel mapping education untuk verifikasi
print(f"\nSAMPLE MAPPING EDUCATION (untuk verifikasi):")
print("-" * 50)
education_sample = df_final[['education_original', 'education_encoded']].drop_duplicates().sort_values('education_encoded')
print(education_sample.to_string(index=False))

# Analisis perubahan dimensi
original_cols = 3  # age, education, sex
final_cols = len(df_final.columns) - 3  # minus kolom original
print(f"\nANALISIS DIMENSI:")
print(f"   Kolom asli: {original_cols}")
print(f"   Kolom hasil konversi: {final_cols}")
print(f"   Total kolom final: {len(df_final.columns)}")
print(f"   Peningkatan: {final_cols/original_cols:.1f}x lipat")

# Cek tidak ada missing values
print(f"\nCEK KUALITAS DATA:")
print(f"   Missing values: {df_final.isnull().sum().sum()}")
print(f"   Total data: {len(df_final)} baris")

print(f"\nKONVERSI DATA BERHASIL!")
print("Semua metode telah diimplementasikan dengan benar")
print("Urutan education sudah sesuai tingkat pendidikan")
print("Tabel hasil konversi sudah ditampilkan dengan rapi")
print("Data siap untuk analisis lebih lanjut atau machine learning")

EVALUASI HASIL KONVERSI DATA
==================================================
Dataset final berhasil dibuat!
Shape dataset final: (48842, 7)
Kolom: ['age_original', 'age_binned', 'education_original', 'education_encoded', 'sex_original', 'sex_Female', 'sex_Male']

VERIFIKASI URUTAN EDUCATION:
----------------------------------------
Urutan yang didefinisikan:
  0: Preschool (83 data)
  1: 1st-4th (247 data)
  2: 5th-6th (509 data)
  3: 7th-8th (955 data)
  4: 9th (756 data)
  5: 10th (1389 data)
  6: 11th (1812 data)
  7: 12th (657 data)
  8: HS-grad (15784 data)
  9: Some-college (10878 data)
  10: Assoc-voc (2061 data)
  11: Assoc-acdm (1601 data)
  12: Bachelors (8025 data)
  13: Masters (2657 data)
  14: Prof-school (834 data)
  15: Doctorate (594 data)

Education yang ada di data: 16 kategori
Urutan berdasarkan tingkat pendidikan (rendah ke tinggi):
Urutan sudah benar dari Preschool sampai Doctorate

RINGKASAN KONVERSI:
------------------------------
1. BINNING:
   age_original (kontinyu) -> age_binned (kategorial)
   Range: 17-90 -> 5 kategori

2. LABEL ENCODING:
   education_original (ordinal) -> education_encoded (numerik)
   Kategori: 16 -> Range 0-15

3. ONE-HOT ENCODING:
   sex_original (nominal) -> 2 kolom binary
   Kategori: 2 -> 2 kolom (0/1)

TABEL HASIL KONVERSI DATA (100 baris pertama)
====================================================================================================
PERBANDINGAN SEBELUM DAN SESUDAH KONVERSI:
----------------------------------------------------------------------------------------------------
                 age_original   age_binned           education_original  education_encoded sex_original     sex_Female      sex_Male
0                25                     Muda (17-25)          11th        6                   Male          0               1
1                38                   Dewasa (36-50)       HS-grad        8                   Male          0               1
2                28              Dewasa Muda (26-35)    Assoc-acdm       11                   Male          0               1
3                44                   Dewasa (36-50)  Some-college        9                   Male          0               1
4                18                     Muda (17-25)  Some-college        9                 Female          1               0
5                34              Dewasa Muda (26-35)          10th        5                   Male          0               1
6                29              Dewasa Muda (26-35)       HS-grad        8                   Male          0               1
7                63               Paruh Baya (51-65)   Prof-school       14                   Male          0               1
8                24                     Muda (17-25)  Some-college        9                 Female          1               0
9                55               Paruh Baya (51-65)       7th-8th        3                   Male          0               1
10               65               Paruh Baya (51-65)       HS-grad        8                   Male          0               1
11               36                   Dewasa (36-50)     Bachelors       12                   Male          0               1
12               26              Dewasa Muda (26-35)       HS-grad        8                 Female          1               0
13               58               Paruh Baya (51-65)       HS-grad        8                   Male          0               1
14               48                   Dewasa (36-50)       HS-grad        8                   Male          0               1
15               43                   Dewasa (36-50)       Masters       13                   Male          0               1
16               20                     Muda (17-25)  Some-college        9                   Male          0               1
17               43                   Dewasa (36-50)       HS-grad        8                 Female          1               0
18               37                   Dewasa (36-50)       HS-grad        8                 Female          1               0
19               40                   Dewasa (36-50)     Doctorate       15                   Male          0               1
20               34              Dewasa Muda (26-35)     Bachelors       12                   Male          0               1
21               34              Dewasa Muda (26-35)  Some-college        9                 Female          1               0
22               72                     Senior (65+)       7th-8th        3                 Female          1               0
23               25                     Muda (17-25)     Bachelors       12                   Male          0               1
24               25                     Muda (17-25)     Bachelors       12                   Male          0               1
25               45                   Dewasa (36-50)       HS-grad        8                   Male          0               1
26               22                     Muda (17-25)       HS-grad        8                   Male          0               1
27               23                     Muda (17-25)       HS-grad        8                   Male          0               1
28               54               Paruh Baya (51-65)       HS-grad        8                   Male          0               1
29               32              Dewasa Muda (26-35)  Some-college        9                   Male          0               1
30               46                   Dewasa (36-50)  Some-college        9                   Male          0               1
31               56               Paruh Baya (51-65)          11th        6                 Female          1               0
32               24                     Muda (17-25)     Bachelors       12                   Male          0               1
33               23                     Muda (17-25)  Some-college        9                   Male          0               1
34               26              Dewasa Muda (26-35)       HS-grad        8                 Female          1               0
35               65               Paruh Baya (51-65)       HS-grad        8                   Male          0               1
36               36                   Dewasa (36-50)     Bachelors       12                   Male          0               1
37               22                     Muda (17-25)       5th-6th        2                   Male          0               1
38               17                     Muda (17-25)          10th        5                   Male          0               1
39               20                     Muda (17-25)       HS-grad        8                   Male          0               1
40               65               Paruh Baya (51-65)       Masters       13                   Male          0               1
41               44                   Dewasa (36-50)     Assoc-voc       10                   Male          0               1
42               36                   Dewasa (36-50)       HS-grad        8                   Male          0               1
43               29              Dewasa Muda (26-35)          11th        6                   Male          0               1
44               20                     Muda (17-25)  Some-college        9                   Male          0               1
45               28              Dewasa Muda (26-35)     Assoc-voc       10                 Female          1               0
46               39                   Dewasa (36-50)       7th-8th        3                   Male          0               1
47               54               Paruh Baya (51-65)  Some-college        9                   Male          0               1
48               52               Paruh Baya (51-65)          11th        6                 Female          1               0
49               56               Paruh Baya (51-65)       HS-grad        8                 Female          1               0
50               18                     Muda (17-25)  Some-college        9                   Male          0               1
51               39                   Dewasa (36-50)       HS-grad        8                   Male          0               1
52               21                     Muda (17-25)  Some-college        9                 Female          1               0
53               22                     Muda (17-25)       HS-grad        8                   Male          0               1
54               38                   Dewasa (36-50)           9th        4                   Male          0               1
55               21                     Muda (17-25)  Some-college        9                 Female          1               0
56               63               Paruh Baya (51-65)       HS-grad        8                   Male          0               1
57               34              Dewasa Muda (26-35)     Bachelors       12                   Male          0               1
58               42                   Dewasa (36-50)       HS-grad        8                   Male          0               1
59               33              Dewasa Muda (26-35)       HS-grad        8                   Male          0               1
60               30              Dewasa Muda (26-35)     Bachelors       12                 Female          1               0
61               39                   Dewasa (36-50)  Some-college        9                   Male          0               1
62               26              Dewasa Muda (26-35)       Masters       13                 Female          1               0
63               33              Dewasa Muda (26-35)       HS-grad        8                 Female          1               0
64               47                   Dewasa (36-50)       HS-grad        8                 Female          1               0
65               41                   Dewasa (36-50)     Bachelors       12                 Female          1               0
66               41                   Dewasa (36-50)    Assoc-acdm       11                   Male          0               1
67               19                     Muda (17-25)  Some-college        9                   Male          0               1
68               46                   Dewasa (36-50)       HS-grad        8                   Male          0               1
69               43                   Dewasa (36-50)       HS-grad        8                   Male          0               1
70               55               Paruh Baya (51-65)  Some-college        9                   Male          0               1
71               46                   Dewasa (36-50)     Assoc-voc       10                   Male          0               1
72               30              Dewasa Muda (26-35)       HS-grad        8                   Male          0               1
73               21                     Muda (17-25)  Some-college        9                 Female          1               0
74               46                   Dewasa (36-50)  Some-college        9                   Male          0               1
75               17                     Muda (17-25)          10th        5                   Male          0               1
76               41                   Dewasa (36-50)       HS-grad        8                   Male          0               1
77               69                     Senior (65+)       HS-grad        8                   Male          0               1
78               50                   Dewasa (36-50)       HS-grad        8                   Male          0               1
79               20                     Muda (17-25)  Some-college        9                 Female          1               0
80               45                   Dewasa (36-50)  Some-college        9                   Male          0               1
81               23                     Muda (17-25)     Bachelors       12                   Male          0               1
82               24                     Muda (17-25)  Some-college        9                   Male          0               1
83               44                   Dewasa (36-50)       HS-grad        8                   Male          0               1
84               31              Dewasa Muda (26-35)  Some-college        9                   Male          0               1
85               43                   Dewasa (36-50)       HS-grad        8                 Female          1               0
86               20                     Muda (17-25)          11th        6                 Female          1               0
87               55               Paruh Baya (51-65)       HS-grad        8                   Male          0               1
88               24                     Muda (17-25)  Some-college        9                   Male          0               1
89               41                   Dewasa (36-50)       Masters       13                 Female          1               0
90               59               Paruh Baya (51-65)     Bachelors       12                 Female          1               0
91               49                   Dewasa (36-50)       7th-8th        3                   Male          0               1
92               33              Dewasa Muda (26-35)       Masters       13                 Female          1               0
93               59               Paruh Baya (51-65)     Bachelors       12                   Male          0               1
94               34              Dewasa Muda (26-35)       Masters       13                   Male          0               1
95               20                     Muda (17-25)       HS-grad        8                   Male          0               1
96               25                     Muda (17-25)     Bachelors       12                 Female          1               0
97               49                   Dewasa (36-50)          10th        5                   Male          0               1
98               59               Paruh Baya (51-65)       HS-grad        8                   Male          0               1
99               20                     Muda (17-25)       HS-grad        8                 Female          1               0

KETERANGAN KOLOM:
--------------------------------------------------
- age_original: Usia asli (17-90 tahun)
- age_binned: Kelompok usia hasil binning
- education_original: Tingkat pendidikan asli
- education_encoded: Kode numerik pendidikan (0-15)
- sex_original: Jenis kelamin asli (Male/Female)
- sex_Female: 1 jika Female, 0 jika Male
- sex_Male: 1 jika Male, 0 jika Female

SAMPLE MAPPING EDUCATION (untuk verifikasi):
--------------------------------------------------
education_original  education_encoded
         Preschool                  0
           1st-4th                  1
           5th-6th                  2
           7th-8th                  3
               9th                  4
              10th                  5
              11th                  6
              12th                  7
           HS-grad                  8
      Some-college                  9
         Assoc-voc                 10
        Assoc-acdm                 11
         Bachelors                 12
           Masters                 13
       Prof-school                 14
         Doctorate                 15

ANALISIS DIMENSI:
   Kolom asli: 3
   Kolom hasil konversi: 4
   Total kolom final: 7
   Peningkatan: 1.3x lipat

CEK KUALITAS DATA:
   Missing values: 0
   Total data: 48842 baris

KONVERSI DATA BERHASIL!
Semua metode telah diimplementasikan dengan benar
Urutan education sudah sesuai tingkat pendidikan
Tabel hasil konversi sudah ditampilkan dengan rapi
Data siap untuk analisis lebih lanjut atau machine learning
   Range: 17-90 -> 5 kategori

2. LABEL ENCODING:
   education_original (ordinal) -> education_encoded (numerik)
   Kategori: 16 -> Range 0-15

3. ONE-HOT ENCODING:
   sex_original (nominal) -> 2 kolom binary
   Kategori: 2 -> 2 kolom (0/1)

TABEL HASIL KONVERSI DATA (100 baris pertama)
====================================================================================================
PERBANDINGAN SEBELUM DAN SESUDAH KONVERSI:
----------------------------------------------------------------------------------------------------
                 age_original   age_binned           education_original  education_encoded sex_original     sex_Female      sex_Male
0                25                     Muda (17-25)          11th        6                   Male          0               1
1                38                   Dewasa (36-50)       HS-grad        8                   Male          0               1
2                28              Dewasa Muda (26-35)    Assoc-acdm       11                   Male          0               1
3                44                   Dewasa (36-50)  Some-college        9                   Male          0               1
4                18                     Muda (17-25)  Some-college        9                 Female          1               0
5                34              Dewasa Muda (26-35)          10th        5                   Male          0               1
6                29              Dewasa Muda (26-35)       HS-grad        8                   Male          0               1
7                63               Paruh Baya (51-65)   Prof-school       14                   Male          0               1
8                24                     Muda (17-25)  Some-college        9                 Female          1               0
9                55               Paruh Baya (51-65)       7th-8th        3                   Male          0               1
10               65               Paruh Baya (51-65)       HS-grad        8                   Male          0               1
11               36                   Dewasa (36-50)     Bachelors       12                   Male          0               1
12               26              Dewasa Muda (26-35)       HS-grad        8                 Female          1               0
13               58               Paruh Baya (51-65)       HS-grad        8                   Male          0               1
14               48                   Dewasa (36-50)       HS-grad        8                   Male          0               1
15               43                   Dewasa (36-50)       Masters       13                   Male          0               1
16               20                     Muda (17-25)  Some-college        9                   Male          0               1
17               43                   Dewasa (36-50)       HS-grad        8                 Female          1               0
18               37                   Dewasa (36-50)       HS-grad        8                 Female          1               0
19               40                   Dewasa (36-50)     Doctorate       15                   Male          0               1
20               34              Dewasa Muda (26-35)     Bachelors       12                   Male          0               1
21               34              Dewasa Muda (26-35)  Some-college        9                 Female          1               0
22               72                     Senior (65+)       7th-8th        3                 Female          1               0
23               25                     Muda (17-25)     Bachelors       12                   Male          0               1
24               25                     Muda (17-25)     Bachelors       12                   Male          0               1
25               45                   Dewasa (36-50)       HS-grad        8                   Male          0               1
26               22                     Muda (17-25)       HS-grad        8                   Male          0               1

In [8]:
display_df

,age_original,age_binned,education_original,education_encoded,sex_original,sex_Female,sex_Male
0,25,Muda (17-25),11th,6,Male,0,1
1,38,Dewasa (36-50),HS-grad,8,Male,0,1
2,28,Dewasa Muda (26-35),Assoc-acdm,11,Male,0,1
3,44,Dewasa (36-50),Some-college,9,Male,0,1
4,18,Muda (17-25),Some-college,9,Female,1,0
...,...,...,...,...,...,...,...
95,20,Muda (17-25),HS-grad,8,Male,0,1
96,25,Muda (17-25),Bachelors,12,Female,1,0
97,49,Dewasa (36-50),10th,5,Male,0,1
98,59,Paruh Baya (51-65),HS-grad,8,Male,0,1
99,20,Muda (17-25),HS-grad,8,Female,1,0

**ğŸ‘¤ Author**: Ferdian Bangkit Wijaya  
**ğŸ›ï¸ Afiliasi**: Universitas Sultan Ageng Tirtayasa  
**ğŸ“§ Contact**: ferdian.bangkit@untirta.ac.id  
**ğŸ“… Last Updated**: September 2025